<mat-toolbar>
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/" id="logo">Dristor App</a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <ul>
      <li><a routerLink="/" mat-raised-button color="primary">Menu</a></li>
      <li><a routerLink="/ingredients/list" mat-raised-button color="primary">Ingredients</a></li>
      <li><a routerLink="/orders/list" mat-raised-button color="primary">Orders</a></li>
      <li><a routerLink="/users/list" mat-raised-button color="primary">Users</a></li>
<!--      <li><a routerLink="/coupons/list" mat-raised-button color="primary">Coupons</a></li>-->
      <ng-container *ngIf="isLoggedIn else notLoggedIn">
        <li><a routerLink="/orders/cart" mat-raised-button color="accent"><mat-icon>shopping_cart</mat-icon></a></li>
        <li><a routerLink="/users/{{ userId! }}" mat-raised-button color="primary">Account</a></li>
        <li><button mat-raised-button (click)="logOut()">Log Out</button></li>
      </ng-container>
      <ng-template #notLoggedIn>
        <li><a routerLink="/account/login" mat-raised-button>Log In</a></li>
        <li><a routerLink="/account/signup" mat-raised-button color="primary">Sign Up</a></li>
      </ng-template>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
