<mat-spinner *ngIf="isLoading else loaded"></mat-spinner>

<ng-template #loaded>
  <h1>{{ user | fullName }}'s Profile</h1>

  <form [formGroup]="formGroup">
    <mat-card>
      <div class="text-fields">
        <mat-form-field appearance="fill" color="primary">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstname">
        </mat-form-field>
        <mat-form-field appearance="fill" color="primary">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastname">
        </mat-form-field>
        <mat-form-field appearance="fill" color="primary">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email">
        </mat-form-field>
      </div>
      <ng-container *ngIf="isAdmin()">
        <h3>Select user role:</h3>
        <ng-container formArrayName="roles">
          <p *ngFor="let role of roles; index as i">
            <mat-checkbox [formControlName]="i">{{role}}</mat-checkbox>
          </p>
        </ng-container>
      </ng-container>
    </mat-card>
  </form>

  <div class="button-row">
    <button mat-raised-button color="primary" class="btn-add" [disabled]="formGroup.invalid" (click)="updateUsr()">Update User</button>
    <button mat-raised-button color="primary" class="btn-add" (click)="goToPage('/users/list')">Go Back</button>
  </div>

  <h1>Addresses:</h1>
  <ul appPlainList>
    <li *ngFor="let address of addresses; index as k">
      <mat-card>
        <h2>{{address.addressLine}}</h2>
        <h3>{{address.county}}, {{address.city}}</h3>
        <h3>Postal Code: {{address.postalCode}}</h3>
        <h3>Phone: {{address.phoneNumber}}</h3>
        <div class="buttons">
          <a routerLink="/users/{{id}}/address/{{address.id!}}" mat-raised-button class="btn-add" color="primary">Edit</a>
          <button mat-raised-button class="btn-add"  color="warn" (click)="deleteAddress(address.id!)">Delete</button>
        </div>
      </mat-card>
    </li>
  </ul>
  <p *ngIf="addresses.length <= 0">
    You don't have any addresses.
  </p>
  <a routerLink="/users/{{id}}/address/new" mat-raised-button class="btn-add" color="primary">Add Address</a>
</ng-template>
