.info-button {
  display: inline-block;
  float: right;
}

chip {
  padding-right: 200px;
}

#cart-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

dt {
  font-weight: bold;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 1rem;
}

.modify-button {
  float: right;
  margin-right: 20px;
}

.button-row .mat-button-base {
  margin: 0px 5px 5px 5px;
}

.spacer {
  flex-grow: 99;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

mat-card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input {
  width: 5rem;
}

.total {
  text-align: right;
  font-weight: bold;
}

mat-card-title {
  padding-right: 10px;
}


